// ADS
body > img {
  line-height: 0;
  position: absolute;
}

.ad {
  overflow: hidden;
}

.ad-leaderboard,
.ad-banner {
  // padding:0 $content-padding-horizontal;
  text-align: center;
  position: relative;
  margin-bottom: $content-padding-vertical;
  margin-left: -15px;
  margin-right: -15px;
  * {
    text-align: center !important;
  }
}

.ad-rectangle,
.ad-tower,
.ad-rectangle-right {
  position: relative;
  text-align: center;
  * {
    text-align: center !important;
  }
}

.ad-rectangle,
.ad-rectangle-right {
  margin-left: -15px;
  margin-right: -15px;
}

.ad-anchored {
  text-align: right;
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: $zindex-modal;
  max-width: 300px;
}
@media screen and (min-width: 1400px) and (min-height: 620px) {
  .layout-anchored .container-fluid {
    padding-right: 300px;
  }
}

.ad-interstitial-wrapper {
  position: fixed;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9995;
  background-color: $white-color;
}

.ad-interstitial {
  //@extend .ad-interstitial-wrapper;
  //top: 60px;
  //z-index: 9997;
}

.ad-interstitial-cancel {
  display: block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  right: 20px;
  top: 20px;
  &:hover {
    text-decoration: underline;
  }
  .fa-close {
    color: $brand-danger;
    vertical-align: baseline;
  }
}

.ad-leaderboard {
  clear: both;
}

// AFFIX
.affix {
  text-align: center;
  top: 20px;
  position: fixed;
}

.affix-top {
  position: relative;
}

.affix-bottom {
  position: relative;
}

// AUDIO
.audio-container {
  position: relative;
  overflow: hidden;
}

.audio-container iframe,
.audio-container object,
.audio-container embed {
  width: 100%;
}

// BODY
body {
  -webkit-font-smoothing: antialiased !important;
  @include responsive('small-screens') {
    // font-size: 12px;
  }
}

hr {
  border-color: lighten($brand-primary, 48%);
}

.hdr-top {
  background-color: $brand-primary;
  font-family: $font-family-special;
  padding: 8px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: uppercase;
  font-size: $font-size-h3;
  display: block;
  color: $white-color !important;
}

// BUTTONS
.btn {
  border-radius: 0;
}

.btn-label-offset {
  margin-top: 26px;
}

.btn-primary-lg {
  @extend .btn, .btn-lg, .btn-primary;
}

.btn-primary-accent {
  @extend .btn-primary;
  @include button-variant(
    $white-color,
    darken($brand-primary, 7%),
    darken($brand-primary, 10%)
  );
}

.btn-highlight {
  background-color: #ef3943;
  @include button-variant($white-color, #ef3943, darken(#ef3943, 20%));
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 900;
}

// BUY
.col-bordered {
  padding-top: 10px;
  border: 1px $gray-light solid;
  border-bottom: none;
  border-radius: 5px;
  &:hover {
    background-color: #ddd;
  }
}

// COMIC
.comic-item-container {
  text-align: center;
}

.comic-item {
  padding-bottom: 40px;
  display: inline-block;
  text-align: left;
  max-width: $comic-max-width;
  @include responsive('small-screens') {
    max-width: 100%;
  }
}

.comic-tags {
  padding-right: $amu-layout-padding-md;
}

.comic-title {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 10px;
  overflow: hidden;
  @include responsive('xxs-screens') {
    display: flex;
    > .comic-title-link {
      flex: 1;
      .comic-title-name,
      .comic-date-wrapper {
        display: block;
        clear: both;
      }
    }
  }
}

.comic-title-name {
  font-size: 12px;
  color: $gray-light;
  font-style: italic;
}

.comic-title-date {
  @extend .pull-left, .small;
  padding-right: 10px;
}

.comic-transcript {
  font-size: 12px;
  vertical-align: top;
}

.comic-buy-link {
  float: right;
  margin-right: 0 !important;
  @include responsive('xs-screens') {
    float: none !important;
  }
}

.comic-rating {
  flex: 120px 0 0;
}

.img-comic-container {
  padding-bottom: 10px;
}

.input-share-link {
  font-size: 14px;
}

.img-responsive {
  max-width: 100%;
}

.img-comic-link {
  display: block;
}

.js-toggle-container {
  display: none;
}

// CHARACTERS
.characters-list {
  @extend .list-unstyled;
}

.character-item {
  display: inline-block;
  padding: 0 20px 20px 0;
  vertical-align: top;
}

.character-thumb {
  margin-bottom: 5px;
}

.character-label {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 11px;
  color: $gray;
  max-width: 75px;
  overflow: hidden;
  padding: 3px 0;
}

// FOOTER
.site-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

// FORMS
.form-newsletter {
  hr {
    border-color: darken(whitesmoke, 5%);
    @include responsive('xs-screens') {
      margin-bottom: $content-padding-vertical/2;
    }
  }
  .form-group {
    margin-bottom: 0px;
    @include responsive('xs-screens') {
      &:first-child {
        margin-bottom: $content-padding-vertical;
      }
    }
  }
}

input.form-control {
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $input-color-placeholder;
  }
  &::-webkit-input-placeholder {
    color: $input-color-placeholder;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $input-color-placeholder;
  }
  &:-ms-input-placeholder {
    color: $input-color-placeholder;
  }
}

.field {
  @extend .form-group, .col-sm-10;
}

.field-lg {
  @extend .form-group, .col-sm-12;
}

.field-md {
  @extend .form-group, .col-sm-8;
}

.field-sm {
  @extend .form-group, .col-sm-4;
}

.field-xs {
  @extend .form-group, .col-sm-2;
}

.required {
  font-weight: bold;
  font-style: italic;
  color: $brand-warning;
}

.optional {
  font-weight: bold;
  font-style: italic;
  color: $brand-info;
}

.text-small {
  font-size: $font-size-h6;
  color: $gray;
}

// FILTERS
.filter-list {
  @extend .list-unstyled;
}

.filter-list-link {
  font-size: 14px;
  &.selected {
    font-weight: bold;
  }
}

.filter-month-list {
  @extend .list-unstyled, .row;
  margin-left: 0;
  margin-right: 0;
}

.filter-month-item {
  @extend .col-sm-4;
  &.selected {
    font-weight: bold;
  }
}

// FLASH NOTICES
.notice {
  h2,
  h3 {
    margin-top: $padding-small-horizontal;
  }
}

// FLASH ERRORS
.notice-error {
  @extend .panel, .panel-danger;
  .fa {
    width: 32px;
    @extend .text-center;
  }
  .notice-error-newsletter {
    display: none;
  }
}

.notice-error-heading {
  @extend .panel-heading;
  h3 {
    margin-top: $padding-base-horizontal;
  }
}

.notice-error-items {
  @extend .list-group, .alert-danger;
  margin-left: 0px;
}

.notice-error-item {
  @extend .list-group-item;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    @extend .has-error;
    border-width: $border-radius-base;
  }
  label {
    @extend .has-error;
  }
}

.notice-error-server {
  height: 400px;
  .page-header {
    padding-bottom: $content-padding-vertical;
  }
}

// FLASH SUCCESS
.notice-success {
  @extend .alert, .alert-success, .text-center;
}

.notice-warning {
  @extend .alert, .alert-warning, .text-center;
}

// HEADER
.characters-top {
  vertical-align: top;
}

// HEADINGS
.hdr-callout {
  text-align: center;
  font-family: $font-family-special;
  border-top: 8px solid $brand-primary;
  color: $brand-primary;
  font-weight: 200;
  text-transform: uppercase;
  padding: 10px 5px;
  font-size: $font-size-h5;
}

.hdr-subtle {
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: -1px;
  font-size: 14px;
  margin-top: 0;
}

.hdr-info {
  @extend .small;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.hdr-small-h3 {
  text-transform: uppercase;
  color: $gray;
  font-size: 16px;
  margin-top: 0;
}

.hdr-small-h4 {
  @extend .h5;
}

// LAYOUT
.amu-main-container {
  margin-left: -15px;
  margin-right: -15px;
  @include responsive('xs-screens-up') {
    width: 100%;
    float: left;
  }
}

.amu-comments-container {
  max-width: 1060px; // this width matches up with the shelf space at medium+ screens
  margin: 0 auto;
  overflow: hidden;
}

.amu-content-w-ad-sidebar {
  position: relative;
  margin-right: 315px;
  @include responsive('xs-screens') {
    margin-right: 0;
  }
}

.amu-ad-sidebar {
  float: right;
  width: 300px;
  @include responsive('xs-screens') {
    width: auto;
    float: none;
    text-align: center;
  }
}

.amu-ad-sidebar-content {
  @include responsive('xs-screens') {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
  }
}
// Layout Spacing
.container {
  padding: 0;
  // margin-left: -15px;
  // margin-right: -15px;
  @include responsive('medium-screens') {
    width: 100%;
  }
  @include responsive('small-screens') {
    width: 100%;
  }
  @include responsive('xs-screens') {
    width: 100%;
  }
}

.content-section {
  padding-bottom: 20px;
  clear: both;
}

.content-section-sm {
  padding-bottom: 10px;
  clear: both;
}

.content-section-lg {
  padding-bottom: 40px;
  clear: both;
}

.container-content {
  max-width: 1400px;
  margin: 0 auto;
}

.container-header {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-static {
  word-wrap: break-word;
}

.load-comics-trigger {
  display: block;
  text-align: center;
  padding-bottom: 200px;
  margin-top: 90px;
  margin-bottom: 140px;
}

.nav-main {
  position: absolute;
  top: 38px;
  right: 0;
}

.page-section {
  @extend .col-sm-8, .col-sm-offset-2, .col-lg-6, .col-lg-offset-3;
}

.site-bg-bar {
  height: 38px;
  background-color: #f2f2f2;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.site-header {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: $content-padding-vertical;
}

.site-header-branding {
  width: 320px;
  float: left;
  position: relative;
  @include responsive('xs-screens') {
    float: none;
    width: 100px;
    margin: -28px auto 0;
    overflow: hidden;
    .logo-container img {
      width: 100px;
      height: auto;
    }
  }
}

.site-header-nav.hidden-xs.show {
  display: block !important;
}

.site-header-nav {
  margin-left: 320px;
  text-align: right;
  @include responsive('xs-screens') {
    display: block;
    width: auto;
    text-align: left;
    margin: -15px -15px 0;
    padding-top: 30px;
    background-color: $gray-lighter;
    .nav-main,
    .nav-secondary {
      display: flex;
      position: relative;
      top: 0;
      padding: 15px 30px;
    }
    .nav-main-item {
      display: block;
      position: relative;
      border-bottom: 1px solid $gray-light; //lighten($brand-primary, 30%);
      &:first-child {
        border-top: 1px solid $gray-light; //lighten($brand-primary, 30%);
      }
    }
    .nav-main-link {
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
      text-align: left;
      line-height: 44px;
      &:hover,
      &:active {
        background-color: darken($brand-primary, 10%);
      }
      .sr-only {
        position: relative;
      }
    }
    .nav-secondary {
      background-color: $gray-light; //darken($brand-primary, 10%);
    }
    .nav-secondary-link:hover,
    .nav-secondary-link:active {
      background-color: $brand-primary;
    }
    .nav-secondary-link {
      color: $white-color;
    }
    .nav-main-dropdown a {
      line-height: 38px;
    }
  }
}

.site-mobile-header {
  background-color: $gray-lighter;
  position: absolute;
  left: -15px;
  right: -15px;
  height: 45px;
  z-index: 0;
  // setups up the showing/hiding of the icons on mobile nav
  .fa-times {
    display: none;
  }
  .toggle-active {
    .fa-times {
      display: inline;
      text-decoration: none;
    }
    .fa-bars,
    .fa-search {
      display: none;
    }
  }
}

.site-header-mobile-link {
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:active,
  &.toggle-active {
    color: $white-color;
    background-color: $brand-primary;
    text-decoration: none;
  }
}

.site-header-mobile-search {
  display: none;
  width: auto;
  text-align: left;
  margin: -15px -15px 0;
  padding: 45px 20px 20px;
  background-color: $gray-lighter;
  input,
  .btn {
    border-radius: 30px;
  }
}

// COOKIE CONSENT BANNER
.cc_banner-wrapper {
  height: 70px;
}

.cc_container {
  z-index: 9001;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #666;
}

.cookie-choices-info {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  line-height: 140%;
  padding: 15px 0;
  font-family: roboto, Arial;
}

.cookie-choices-info .cookie-choices-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin: 10px;
  color: #fefefe;
  max-width: 800px;
  text-align: center;
}

.cookie-choices-info .cookie-choices-buttons {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px;
}

.cookie-choices-info .cookie-choices-button:hover {
  color: #fff;
  background-color: #000;
}

.cookie-choices-info .cookie-choices-button {
  background: #444;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  color: #eee;
  margin-left: 8px;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
}
@media screen and (max-width: 851px) {
  .cc_banner-wrapper {
    height: 110px;
  }
}
@media screen and (max-width: 588px) {
  .cc_banner-wrapper {
    height: 140px;
  }
}
@media screen and (max-width: 327px) {
  .cc_banner-wrapper {
    height: 160px;
  }
}
@media print {
  .cc_banner-wrapper,
  .cc_container {
    display: none;
  }
}

// LIST INLINE
.selected a {
  display: inline-block;
  border-radius: 3px;
  background-color: $link-color;
  color: $white-color;
  padding: 0 5px;
}

// LOADING
.pagination {
  text-align: center;
  display: block !important;
}

// META INFO, COMIC
.meta-info-container {
  max-width: 850px;
  margin: 0 auto;
}

// NAV
.nav-main-item {
  font-family: $font-family-special;
  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  position: relative;
  // @include responsive("small-screens") {
  // 	padding:0 !important;
  // }
  // @include responsive("xs-screens") {
  // 	a {
  // 		padding: 0 10px;
  // 	}
  // }
}

.nav-main-link {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
  padding: 38px 20px 10px;
  line-height: 19px;
}

.open .nav-main-link,
.nav-main-link:hover,
.nav-main-link:active {
  background-color: $brand-primary;
  color: $white-color;
  text-decoration: none;
}

.nav-main-dropdown {
  border-radius: 0;
  background-color: $brand-primary;
  border: 0;
  margin: 0;
  box-shadow: none;
  right: 0;
  min-width: auto;
  a {
    color: $white-color !important;
    font-size: 80%;
    &:hover,
    &:active {
      background-color: darken($brand-primary, 10%) !important;
    }
  }
}

.nav-main-break {
  padding: 0;
}
@media screen and (max-width: 445px) {
  .nav-main-break {
    display: block !important;
  }
}

.nav-main-item.active {
  // background-color: $gray;
  a {
    // color: $white-color;
    font-weight: bold;
  }
}

.nav-secondary {
  position: absolute;
  right: 0;
}

.nav-secondary-item {
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
}

.nav-secondary-link,
.nav-secondary-item {
  font-size: 12px;
  color: #443d3c;
}

.nav-secondary-link {
  display: inline-block;
  padding: 0 10px;
  line-height: 38px;
  &:hover,
  &:active {
    background-color: $brand-primary;
    color: $white-color;
    text-decoration: none;
  }
}

.nav-comic-wrapper {
  text-align: center;
}

.nav-comic-fixed {
  @include responsive('medium-up-screens') {
    .nav-comic {
      width: auto;
      position: absolute;
      z-index: 1000;
      top: 40%;
    }
    .nav-comic-text {
      display: none;
    }
  }
}

.comic-item-container + .nav-comic-fixed {
  margin-top: -30px;
}

.nav-comic {
  text-align: center;
  display: inline-block;
  // width: 100px;
  a {
    border: 2px solid $gray-light;
    color: $gray-light;
    border-radius: 300px;
    display: block;
    width: 60px;
    height: 60px;
    &:hover,
    &:active {
      color: $white-color;
      border-color: $brand-primary;
      background-color: $brand-primary;
      text-decoration: none;
      .nav-comic-text {
        color: $brand-primary;
      }
    }
  }
  .fa {
    display: block;
    font-size: 4rem;
    line-height: 54px;
  }
  &:first-of-type {
    margin-right: 40px;
  }
}

.nav-left {
  left: 30px;
  .fa {
    margin-left: -4px;
  }
}

.nav-right {
  right: 30px;
  .fa {
    margin-right: -4px;
  }
}
@media screen and (max-width: 1040px) {
  .nav-left {
    left: 5px;
  }
  .nav-right {
    right: 5px;
  }
}

.nav-comic-text {
  display: block;
  margin: 0 -25px;
  padding: 15px 0;
  font-size: 14px;
}

// RESPONSIVE
.container-fluid {
}

.img-responsive {
  margin: 0 auto;
}

// RSS FEED
.rssFeed {
}

.rssHeader {
  @extend .h1;
  font-size: 40px;
  margin-top: 0px;
  padding-top: 15px;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  border-top: 1px solid $brand-secondary;
  a {
    color: $brand-secondary;
  }
}

.rssBody {
  ul {
    padding: 0;
    margin-bottom: 0;
  }
  li {
    list-style-type: none;
    border-top: 1px solid $brand-secondary;
  }
}

.rssRow {
  padding-top: 5px;
  padding-bottom: 5px;
  h4 {
    margin-bottom: 10px;
    font-size: $font-size-h5;
    a {
      color: $brand-secondary;
    }
  }
  > div {
    display: none;
  }
  p {
    // display: none;
    color: $gray-light;
    font-size: $font-size-small;
  }
}

#js-scott-adams {
  .rssHeader {
    border-top-color: $brand-primary;
    a {
      color: $brand-primary;
    }
  }
  .rssBody li {
    border-top-color: $brand-primary;
  }
  .rssRow h4 a {
    color: $brand-primary;
  }
}

// SEARCH
.search-box-item {
  padding: 20px;
  // border: 1px $gray-light solid;
  background-color: $gray-lighter;
  margin-bottom: 20px;
}

.no-results {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

// SERIES
.series {
  padding: 40px 30px 60px;
  margin: 20px auto 80px;
  position: relative;
  max-width: 1000px;

  @include responsive('xs-screens') {
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 40px;
  }
}

.series-1 {
  background-color: lighten(#ddad47, 30%);
  border-color: #ddad47;
  hr {
    border-color: lighten(#ddad47, 20%);
  }
  .alert-share {
    background-color: lighten(#ddad47, 20%);
    border-color: #ddad47;
    hr {
      border-color: #ddad47;
    }
  }
}

.series-2 {
  background-color: lighten(#65aead, 30%);
  border-color: #65aead;
  hr {
    border-color: lighten(#65aead, 20%);
  }
  .alert-share {
    background-color: lighten(#65aead, 20%);
    border-color: #65aead;
    hr {
      border-color: #65aead;
    }
  }
}

.series-3 {
  background-color: lighten(#9ab212, 50%);
  border-color: #9ab212;
  hr {
    border-color: lighten(#9ab212, 20%);
  }
  .alert-share {
    background-color: lighten(#9ab212, 40%);
    border-color: #9ab212;
    hr {
      border-color: lighten(#9ab212, 10%);
    }
  }
}

// SHARING ALERTS
.alert-share {
  text-align: center;
  transition: height 2s ease;
  display: none;
}

.alert-share-link {
  padding-left: 10px;
  padding-right: 10px;
}

.input-share-link {
  min-width: 280px;
  @include responsive('xs-screens') {
    min-width: auto;
  }
}

// SHELF SPACE
.shelf-space-tower {
  margin-bottom: 20px;
}

.shelf-space-container {
  margin: 0 auto 40px;
  text-align: center;
  max-width: 1100px;
}

.shelf-space-item {
  @extend .col-md-4, .col-sm-6;
  vertical-align: middle;
  text-align: left;
  @include responsive('small-screens') {
    margin-bottom: 20px;
  }
  @include responsive('xs-screens') {
    padding-left: 0;
    padding-right: 0;
  }
}

.shelf-space-item-right {
  @extend .hidden-sm, .hidden-xs;
  @include responsive('small-screens') {
    margin: 0 !important;
  }
}

.shelf-space-item-link {
  display: block;
}

// STAR RATINGS
.js-comic-rating {
  margin-right: 5px;
  cursor: pointer;
  color: $brand-primary;
}

.js-comic-rating:hover {
  text-decoration: none;
}

.js_thanks_for_voting {
  display: none;
  color: $brand-primary;
}

.comic-rating {
  display: inline-block;
  font-size: 18px;
  line-height: 16px;
  float: right;
}

.comic-rating-voted {
  i {
    color: #ce9a35;
  }
}

// SURVEY
.modal-body-survey {
  min-height: 400px;
  text-align: center;
  background: image-url('survey-bg.png') no-repeat center bottom;
  background-size: 500px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @include responsive('xxs-screens') {
    background-size: contain;
  }
}
@media screen and (max-width: 400px) {
  .modal-body-survey {
    min-height: 330px;
    background-size: 100%;
  }
  .modal-survey .btn {
    display: block;
    margin-bottom: 5px;
  }
  .modal-survey .modal-footer .btn + .btn {
    margin-left: 0;
  }
}

.modal-survey {
  background-image: linear-gradient(#abd1a0, #ffffff);
  .modal-footer {
    text-align: center;
    background-color: $white-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .btn {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

// TYPOGRAPHY
.label-sm {
  font-size: 13px;
  font-weight: bold;
  display: block;
}

.link {
  text-decoration: underline;
  &:hover,
  &:active {
  }
}

.link-muted {
  color: $gray;
  text-decoration: underline;
}

.link-blended {
  color: $gray;
}

.link-muted-more {
  color: $gray-light;
  text-decoration: underline;
  display: inline-block;
  font-size: 13px;
}

.link-padded {
  display: inline-block;
  padding-right: 20px;
}

blockquote {
  border-left: 5px solid #abc1d3;
}

// VIDEO
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// HEIGHT  & WIDTH BASED MEDIA QUERIES
@media screen and (max-width: 1399px) {
  .ad-anchored {
    display: none;
  }
}
@media screen and (max-width: 1060px) {
  .amu-comments-container {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (max-height: 600px) {
  .site-header {
    padding-bottom: 0;
  }
  .ad-leaderboard,
  .ad-banner {
    padding: 0;
  }
}
@media screen and (max-width: 650px) {
  .characters-top {
    display: none;
  }
  .logo {
    padding: 0 5px 0 0 !important;
  }
}
@media screen and (max-width: 550px) {
  .shelf-space-item,
  .shelf-space-tower {
    width: auto;
    float: none;
  }
}
@media screen and (max-width: 588px) {
  .logo-container {
    display: block !important;
  }
  // .site-header li a {
  // 	line-height: 36px
  // }
}

.alert-error,
.alert-notice {
  @extend .alert-danger;
  width: 75%;
  margin-left: 12%;
}

.promo-shelf {
  .promo-hdr-top {
    background-color: $brand-secondary;
    color: white;
    padding: 8px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 20px;
    border: 4px solid $gray-dark;
    border-bottom: 0;
    a {
      display: block;
      color: $gray-dark !important;
    }
  }
  .promo-item {
    border: 4px solid $gray-dark;
    padding: 15px;
    border-top-width: 3px;
  }
}
