* @abarrows @acroth

# Front-end Engineering
*.js *.css *.scss *.erb *.js @abarrows @dcumpton-amu @ctrble @NathanTrost
# @pmccarthyAMU @acroth
# *.css @abarrows @dcumpton-amu @ctrble @NathanTrost
# @pmccarthyAMU @acroth
# *.scss @abarrows @dcumpton-amu @ctrble @NathanTrost
# @pmccarthyAMU @acroth
# *.erb @abarrows @dcumpton-amu @ctrble @NathanTrost
# @pmccarthyAMU @acroth

# Back-end Engineering
!/**/*.css @vkieffer-amu @amumark
!/**/*.scss @vkieffer-amu @amumark
!/**/*.js @vkieffer-amu @amumark

# DevOps
/config/** @forrestkc @tburger010 @kubecode30
