APPLICATION_NAME=#The application or workspace name
BASE_URL=#The local url for the application or workspace
ALLOWED_ORIGIN=#Security purposes, the domains allowed
CACHE_URL=#The caching url used within the local/test app
STAGING_CACHE_URL=#The caching url used within the stage app
PRODUCTION_CACHE_URL=#The caching url used within the production app
VCR_MODE=#How automated tests are recorded
SECRET_KEY_BASE=#The applications secret key or token
TEST_SECRET_KEY_BASE=#The test applications secret key or token
STAGING_SECRET_KEY_BASE=#The stage applications secret key or token
PRODUCTION_SECRET_KEY_BASE=# The production applications secret key or token
