<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0C6BDD27-ED5E-4998-8E5F-EBD559944229</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B19F2DDE-6353-4063-8B73-85412020BAE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEFDDDF8-B627-4992-9821-F420FA776075</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E7C9E23-6E41-49E1-B171-BD8C6615D2A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F4D5CE3-1A20-4CDA-B98E-2FA1144E08A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F4D5CE3-1A20-4CDA-B98E-2FA1144E08A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE20A442-B043-4F0B-A580-603FA3E9B4B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C844153-F7C6-4146-8278-2F84638E2807</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4007BB0-4510-420D-855E-0C5BA7EF7F2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C844153-F7C6-4146-8278-2F84638E2807</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C8C95F2-9AD5-4F41-97C3-42AC0B1C96F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F4D5CE3-1A20-4CDA-B98E-2FA1144E08A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2E7C9E23-6E41-49E1-B171-BD8C6615D2A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93DF9D87-B366-425C-8ED3-DE36E23802B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FACE2D19-8670-4B55-ADEA-73718FFEFA4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE20A442-B043-4F0B-A580-603FA3E9B4B5</key>
		<array/>
		<key>B19F2DDE-6353-4063-8B73-85412020BAE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEFDDDF8-B627-4992-9821-F420FA776075</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C8C95F2-9AD5-4F41-97C3-42AC0B1C96F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4007BB0-4510-420D-855E-0C5BA7EF7F2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93DF9D87-B366-425C-8ED3-DE36E23802B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FACE2D19-8670-4B55-ADEA-73718FFEFA4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C6BDD27-ED5E-4998-8E5F-EBD559944229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Barrows</string>
	<key>description</key>
	<string>Open all development related apps and urls for a deployment</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Start Workspace - Post-Deployment</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://outlook.office.com/mail/inbox</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E4007BB0-4510-420D-855E-0C5BA7EF7F2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>startdeploy</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Start Deployment Work</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://outlook.office.com/calendar/view/week</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>93DF9D87-B366-425C-8ED3-DE36E23802B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Microsoft Teams.app</string>
					<string>/Applications/Visual Studio Code - Insiders.app</string>
					<string>/Applications/MySQLWorkbench.app</string>
					<string>/Applications/iTerm.app</string>
					<string>/Applications/Spotify.app</string>
					<string>/Applications/Visual Studio Code.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5C844153-F7C6-4146-8278-2F84638E2807</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://analytics.google.com/analytics/web/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4F4D5CE3-1A20-4CDA-B98E-2FA1144E08A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://hfjenkins401.amuniversal.com:8080</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://hfwebistrano.amuniversal.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DEFDDDF8-B627-4992-9821-F420FA776075</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://keep.google.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FACE2D19-8670-4B55-ADEA-73718FFEFA4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sentry.amuniversal.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8C8C95F2-9AD5-4F41-97C3-42AC0B1C96F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://amuniversal.atlassian.net/secure/Dashboard.jspa?selectPageId=10701</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0C6BDD27-ED5E-4998-8E5F-EBD559944229</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sentry.io</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2E7C9E23-6E41-49E1-B171-BD8C6615D2A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/Andrews-McMeel-Universal/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B19F2DDE-6353-4063-8B73-85412020BAE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://amuinsight.amuniversal.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AE20A442-B043-4F0B-A580-603FA3E9B4B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C6BDD27-ED5E-4998-8E5F-EBD559944229</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>2E7C9E23-6E41-49E1-B171-BD8C6615D2A8</key>
		<dict>
			<key>xpos</key>
			<integer>1015</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>4F4D5CE3-1A20-4CDA-B98E-2FA1144E08A8</key>
		<dict>
			<key>xpos</key>
			<integer>1180</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>5C844153-F7C6-4146-8278-2F84638E2807</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8C8C95F2-9AD5-4F41-97C3-42AC0B1C96F8</key>
		<dict>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>93DF9D87-B366-425C-8ED3-DE36E23802B5</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>AE20A442-B043-4F0B-A580-603FA3E9B4B5</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>B19F2DDE-6353-4063-8B73-85412020BAE8</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>DEFDDDF8-B627-4992-9821-F420FA776075</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>E4007BB0-4510-420D-855E-0C5BA7EF7F2C</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>FACE2D19-8670-4B55-ADEA-73718FFEFA4E</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
