# Dotfiles Environment Variables

# Instructions: First save a copy of this file in the root directory of the project or run this command in your terminal.
# cp .envrc.example .envrc && open .envrc
# Note: If you have hidden files turned off, the .envrc.example and .envrc files
# may not appear to show up.
# As you fill these values out, remember to put the values in double quotes and no spaces before or after the equals.
# IE: Correct - VARIABLE="value"
# Incorrect - VARIABLE = 'value'

# Do NOT check secrets into version control
# Add secrets to GitHub or Azure with the help of DevOps

APPLICATION_NAME = 'onboarding_ui'
APPLICATION_PORT = '3000'
APPLICATION_ENVIRONMENT = 'development'
APPLICATION_VERSION = $npm_package_version
NEXT_PUBLIC_APPLICATION_ENVIRONMENT = $APPLICATION_ENVIRONMENT
STORYBOOK_PORT = '6006'

API_SUBSCRIPTION_KEY =   # This is the subscription key for all APIs provided by DevOps
SERVICE_ONBOARDING_URL = # End point for product specific service
SENTRY_DSN =             # From sentry for error reporting integration
NEXT_PUBLIC_SENTRY_DSN = $SENTRY_DSN
SENTRY_ORG =     # From sentry to identify the organization
SENTRY_PROJECT = # From sentry to identify the project
# SENTRY_AUTH_TOKEN is set during deployment, you can generate a personal one for use in a .local file here: https://sentry.io/settings/account/api/auth-tokens/
