<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C6BDD27-ED5E-4998-8E5F-EBD559944229</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B19F2DDE-6353-4063-8B73-85412020BAE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEFDDDF8-B627-4992-9821-F420FA776075</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27038EDD-E47A-4E0B-A04E-D04D77FB21B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>716FCD0C-4C8E-4F5B-B109-D66334F71699</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C844153-F7C6-4146-8278-2F84638E2807</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27038EDD-E47A-4E0B-A04E-D04D77FB21B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C844153-F7C6-4146-8278-2F84638E2807</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>716FCD0C-4C8E-4F5B-B109-D66334F71699</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FACE2D19-8670-4B55-ADEA-73718FFEFA4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C8C95F2-9AD5-4F41-97C3-42AC0B1C96F8</key>
		<array/>
		<key>B19F2DDE-6353-4063-8B73-85412020BAE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEFDDDF8-B627-4992-9821-F420FA776075</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C8C95F2-9AD5-4F41-97C3-42AC0B1C96F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FACE2D19-8670-4B55-ADEA-73718FFEFA4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C6BDD27-ED5E-4998-8E5F-EBD559944229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Barrows</string>
	<key>description</key>
	<string>Open all development related apps and urls for a deployment</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Start Workspace - Pre-Deployment</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>startdeploy</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Start Deployment Work</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://outlook.office.com/calendar/view/week</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>716FCD0C-4C8E-4F5B-B109-D66334F71699</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://outlook.office.com/mail/inbox</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>27038EDD-E47A-4E0B-A04E-D04D77FB21B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Microsoft Teams.app</string>
					<string>/Applications/Visual Studio Code.app</string>
					<string>/Applications/Visual Studio Code - Insiders.app</string>
					<string>/Applications/MySQLWorkbench.app</string>
					<string>/Applications/iTerm.app</string>
					<string>/Applications/Spotify.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5C844153-F7C6-4146-8278-2F84638E2807</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://hfjenkins401.amuniversal.com:8080</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/orgs/Andrews-McMeel-Universal/dashboard</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B19F2DDE-6353-4063-8B73-85412020BAE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://hfwebistrano.amuniversal.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DEFDDDF8-B627-4992-9821-F420FA776075</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://keep.google.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FACE2D19-8670-4B55-ADEA-73718FFEFA4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://amuniversal.atlassian.net/wiki</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8C8C95F2-9AD5-4F41-97C3-42AC0B1C96F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://amuniversal.atlassian.net/secure/Dashboard.jspa?selectPageId=10701</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0C6BDD27-ED5E-4998-8E5F-EBD559944229</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C6BDD27-ED5E-4998-8E5F-EBD559944229</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>27038EDD-E47A-4E0B-A04E-D04D77FB21B5</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5C844153-F7C6-4146-8278-2F84638E2807</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>716FCD0C-4C8E-4F5B-B109-D66334F71699</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8C8C95F2-9AD5-4F41-97C3-42AC0B1C96F8</key>
		<dict>
			<key>xpos</key>
			<integer>1115</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>B19F2DDE-6353-4063-8B73-85412020BAE8</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>DEFDDDF8-B627-4992-9821-F420FA776075</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>FACE2D19-8670-4B55-ADEA-73718FFEFA4E</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
