[user]
name = Andrew Barrows
email = abarrows@amuniversal.com
signingkey = 5745BEA2FDDDAC45
url = https://github.com/abarrows
[core]
editor = code
ignorecase = false
excludesfile = ~/.git-template-directory/.gitignore
[init]
templateDir = ~/.git-template-directory
defaultBranch = production
[gpg]
program = /usr/local/bin/gpg
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[pull]
rebase = false
[commit]
gpgsign = true
# template = ~/.gitmessage
[core]
editor = code --wait
hooksPath = ~/.git-template-directory/hooks
[diff]
tool = vscode
[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE
[merge]
tool = vscode
[mergetool "vscode"]
cmd = code --wait $MERGED
[checkout]
defaultRemote = origin
[fetch]
prune = true
