
[user]
	name = acbarrows
	email = acbarrows@gmail.com
	url = https://www.github.com/acbarrows
	signingkey = 163952A510639BC3
[commit]
	gpgsign = true
[core]
	editor = code --wait
	ignorecase = false
	excludesfile = $HOME/.git-template-directory/.gitignore
	hooksPath = $HOME/.git-template-directory/hooks
[init]
	templateDir = /Users/acbarrows/.git-template-directory
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[checkout]
	defaultRemote = origin
[fetch]
	prune = true
