# Supported browsers
# Please update this URL if changing the config:
# https://browserl.ist/?q=%3E%3D+2%25%2C+maintained+node+versions%2C+last+3+major+versions%2C+not+op_mini+all%2C+not+dead

# Expanded coverage
>= 2%
last 3 major versions
last 2 years
maintained node versions
not op_mini all
not dead
